<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ch.almana.android.unibas.perssearch" android:versionCode="201104054" android:versionName="0.4.1">

    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/unibasel_with_bg">

        <activity android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar" android:name=".view.PerssearchActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".view.PersonDetailsActivity"/>

        <provider android:syncable="false" android:authorities="perssearch" android:name=".access.PerssearchProvider"/>

    </application>
</manifest>
